body {
    font-family: "Montserrat";
}

h1,h2,h3,h4,h5,h6{
    font-family: "Montserrat";
}

h1 {
    font-size: 3.5rem;
    font-weight: bolder;
    line-height: 1.5;
}

h2 {
    font-weight: bold;
    font-size: 3rem;
    line-height: 1.5;
}

h3 {
    font-size: 1.5rem;
    font-weight: bolder;
}

#title {
    background-color: #ff4c68;
    color: white;
}

p {
    color: #8f8f8f;
}

.container-fluid {
    padding: 3% 15% 7%;
}

/* Navigation Bar */

.navbar {
    padding-bottom: 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    /* font-weight: bold;  */
}

.nav-item {
    padding: 0 18px;
}

.nav-link {
    font-size: 1.2rem;
    font-family: "Montserrat";
}

/* Ḍownload Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

.Image {
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    width: 20%;
    right: 25%;
}

#features {
    padding: 7% 15%;
    background-color: white;
    position: relative;
}

.box {
    text-align: center;
    padding: 5%;
}

.icon {
    color: #ef8172;
    margin-bottom: 1rem;
}

.icon:hover {
    color: #ff4c68;
}

/* Testimonials section */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;
}

.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

.carousel-item {
    padding: 7% 15%;
}

#press {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 50px;
}

/* Pricing Section */

#pricing{
    padding: 6.25rem;
    text-align: center;
}

.pricing-column{
    padding: 3% 2%;
}

@media (max-width: 1028px){
     .Image{ 
      position: static;
      width: 70%;
      transform: rotate(0); 
    }

    #title{
        text-align: center;
    }
}

/* 2nd last section */

#cta{
    font-family: "Montserrat";
    font-weight: bolder;
    background-color: #ff4c68;
    color: white;
    text-align: center;
    height: 27rem;
}

.cta-description{
    padding-top: 4.5%;
    padding-bottom: 2%;
    font-size: 3.5rem;
    font-weight: bolder;
    margin: 0 auto 3rem auto;
    width: 70%;
    text-align: center;
}

.d-b{
  position: relative;
  bottom: 5.5rem;
  margin-right: 3vw;
}

/* Last Section */

#footer{
    text-align: center;
    margin-top: 6%;
}

.footer-icons{
    padding: 0 0.50rem;
}

.Copyright{
     margin-top: 1rem;
     padding-bottom: 4rem;
}